.about-section {
  padding: 40px 60px;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.section-title.about-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #222;
}

.section-body.about-body {
  text-align: justify;
  line-height: 1.8;
  font-size: 1.10rem;
  padding: 0 40px;
  margin: 0;
  max-width: none;
}

.icon-gray {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  color: #9b9b9b;
}

.about-me {
  margin-bottom: 10px; /* Reduce el espacio debajo del texto */
}
